<div class="container-fluid">


  <div class="page-header">

  </div>
  
  <div class="row">
    <div class="col-lg-12">
      <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Synonym</span>
        <input type="text" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </span>
      </div>
    </div>
  </div>
  <hr />
  <h3>
    huge
  </h3>
  <h4>
  <small>Synonyms for huge</small>
  </h4>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">colossal</div>
      <div class="col-sm-4">mammoth</div>
      <div class="col-sm-4">immeasurable</div>
    </div>  
  </div>
</div>





