<div class="row">
  <div class="col-xs-12">
    <h3 class="text-center">Vote Up or Down</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 align-right">
    <button (click)="incrementUpCount()" type="button" id="teslatBtn" class="btn btn-lg btn-success glyphicon glyphicon-thumbs-up" data-loading-text=" ... " style="margin-right: 0px; float: right;"> {{upCount}} </button>
  </div>
  <div class="col-xs-6">
    <button (click)="decrementDownCount()" type="button" id="testBtnDown" class="btn btn-lg btn-success glyphicon glyphicon-thumbs-down" data-loading-text=" ... " style="margin-left: 0px; float: left;"> {{downCount}} </button>
  </div>
</div>
